# Environment
.env

# Cache
.php-cs-fixer.cache
.phpunit.result.cache
/.phpunit.cache

# Build output
/public/build
/public/hot

# Dependencies
/vendor
/node_modules

# Lock
package-lock.json
yarn.lock
pnpm-lock.yaml
composer.lock

# Visual Studio Code configs
/.vscode

# JetBrains IDEs
/.idea

# Logs
npm-debug.log
yarn-error.log
